.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  top: 10px;
}

.sidebar_items_div {
  position: absolute;
  top: 120px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* form bg color */
.form_bg_color {
  background: #E5E5E5;
}

/* Breadcrumb */
.topbr {
  background: #FFFFFF;
}

.breadcrumb {
  background-color: #000;
  color: #ddd;
  background: #FFFFFF !important;
}

/* Card */

.serviceCard {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E2E5EC;
  box-sizing: border-box;
  border-radius: 6px;
}

/* promocode span */
.promocodespan {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 11px;
}

/* top div */
.top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
  background: #FFFFFF;
}






/* align items at the bottom */
.align_items_bottom {
  align-items: flex-end;
}

/* align items at the center */
.align_items_center {
  text-align: center;
}

/* Promo code container */
#promocode_container {
  position:relative;
}
.promoCode_input {
  width: 100%;
  height: 40px;
  /* border-color: grey; */
  /* align-items: center; */
}
.copy_img {
  position:absolute;
  bottom:15px;
  right:5px;
  width: 20px;
  height:20px;
  /* align-items: center; */
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  height: 100%;
  z-index: 100;
  padding: 48px 0 0; 
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

#sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.navitem {
  padding-bottom: 40px;
}
